git+https://github.com/zetaops/riak-python-client.git#egg=riak
lazy_object_proxy
enum34
six

#these are needed for tests

fake-factory
pytest
fabric
pytest-ordering
ipython

# if you have issues with pip, use "easy_install -a readline" on OSX
readline

